/* #384e46
#3ab44a */

h1{
    font-family: 'Pacifico', cursive;
    color: #384e46;
}

.text{
	color: #384e46 !important;
}

form{
    margin: 0px;
    padding: 0px;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

fieldset{
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    border: 1px solid #384e46;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #28a745;
}

.nav-link{
	color: #28a745;
}